.box{
    border-style: solid;
    box-shadow: blue;
    solid-opacity: 0.8;
    color: #5c67ff;
}
.subTitle{
   color: #a59543;
}
.tableRC{
    background-color: aquamarine;
    font-size: 20px;
    border-style: double;
}